In [18]:
import pandas as pd
import numpy as np
path="Data Preparation/US_Data_subset.csv"
coarse_data=pd.read_csv(path)

In [19]:
coarse_data.head()

   Unnamed: 0   FOD1P  SCHL      WAGP  AGEP  COW
0           5  6107.0  21.0   39000.0    63  3.0
1          23  3600.0  21.0   16000.0    22  2.0
2          36  6107.0  21.0  100000.0    52  1.0
3          56  3700.0  21.0   41000.0    65  1.0
4          92  2300.0  21.0   15000.0    33  1.0

In [33]:
bachelors_tuition = 24116
masters_tuition = 35000
phd_tuition = 0

coarse_data["tuition"] = np.where(coarse_data.SCHL == 21.0, bachelors_tuition, 
                                  np.where(coarse_data.SCHL == 22.0, masters_tuition, 
                                           np.where(coarse_data.SCHL == 24.0, phd_tuition, "NA")))

coarse_data

         Unnamed: 0   FOD1P  SCHL      WAGP  AGEP  COW tuition
0                 5  6107.0  21.0   39000.0    63  3.0   24116
1                23  3600.0  21.0   16000.0    22  2.0   24116
2                36  6107.0  21.0  100000.0    52  1.0   24116
3                56  3700.0  21.0   41000.0    65  1.0   24116
4                92  2300.0  21.0   15000.0    33  1.0   24116
5                98  6207.0  21.0   20000.0    53  1.0   24116
6               102  2414.0  21.0  130000.0    47  1.0   24116
7               108  3700.0  22.0   45000.0    36  3.0   35000
8               122  3700.0  21.0  104000.0    38  5.0   24116
9               125  6107.0  22.0   50000.0    62  2.0   35000
10              126  3600.0  23.0  100000.0    62  7.0      NA
11              141  5507.0  21.0   40000.0    25  2.0   24116
12              145  2300.0  22.0  100000.0    55  5.0   35000
13              149  6206.0  21.0       0.0    64  NaN   24116
14              189  6107.0  21.0     600.0    42  1.0   24116
15              202  3600.0  21.0   30000.0    50  2.0   24116
16              245  6201.0  21.0  100000.0    46  3.0   24116
17              268  3700.0  22.0       0.0    85  NaN   35000
18              272  6206.0  21.0   50000.0    67  7.0   24116
19              289  6107.0  21.0   70000.0    41  1.0   24116
20              322  2300.0  21.0   40000.0    39  3.0   24116
21              334  6206.0  21.0   46200.0    60  7.0   24116
22              353  6207.0  21.0   50000.0    60  1.0   24116
23              357  3600.0  21.0       0.0    71  NaN   24116
24              363  5501.0  22.0   10000.0    48  1.0   35000
25              388  6107.0  22.0   30000.0    54  1.0   35000
26              392  6201.0  21.0   42000.0    30  1.0   24116
27              403  6201.0  21.0       0.0    65  NaN   24116
28              419  3700.0  21.0    2000.0    22  4.0   24116
29              424  6207.0  21.0   60000.0    51  1.0   24116
...             ...     ...   ...       ...   ...  ...     ...
1206960     3968426  2300.0  22.0  135000.0    55  3.0   35000
1206961     3968445  5003.0  23.0  460000.0    46  7.0      NA
1206962     3968454  2300.0  24.0       0.0    69  NaN       0
1206963     3968494  2300.0  21.0     680.0    82  8.0   24116
1206964     3968495  6201.0  21.0  200000.0    84  7.0   24116
1206965     3968501  2406.0  21.0  460000.0    61  1.0   24116
1206966     3968518  2300.0  21.0       0.0    72  NaN   24116
1206967     3968519  5506.0  22.0       0.0    70  NaN   35000
1206968     3968612  2300.0  22.0   24000.0    75  1.0   35000
1206969     3968631  2405.0  21.0       0.0    34  1.0   24116
1206970     3968648  6108.0  24.0  119000.0    30  1.0       0
1206971     3968676  6207.0  21.0       0.0    86  NaN   24116
1206972     3968687  3600.0  22.0    7300.0    56  3.0   35000
1206973     3968710  2405.0  21.0   60000.0    43  1.0   24116
1206974     3968711  3700.0  21.0   12000.0    41  3.0   24116
1206975     3968717  1301.0  21.0    3000.0    31  6.0   24116
1206976     3968734  3600.0  23.0  460000.0    55  3.0      NA
1206977     3968740  6201.0  22.0       0.0    66  1.0   35000
1206978     3968748  3700.0  22.0   69000.0    46  3.0   35000
1206979     3968759  5506.0  23.0   85000.0    47  3.0      NA
1206980     3968848  6201.0  24.0  183000.0    43  4.0       0
1206981     3968860  3600.0  22.0   68000.0    45  4.0   35000
1206982     3968881  6107.0  22.0   64000.0    67  3.0   35000
1206983     3968889  3600.0  21.0  100000.0    66  2.0   24116
1206984     3968966  5507.0  21.0       0.0    58  NaN   24116
1206985     3968989  3600.0  21.0   50000.0    37  3.0   24116
1206986     3969011  2406.0  21.0       0.0    74  NaN   24116
1206987     3969035  3600.0  21.0   34000.0    58  3.0   24116
1206988     3969079  3600.0  21.0   50000.0    27  1.0   24116
1206989     3969195  3600.0  21.0   50000.0    27  1.0   24116

[1206990 rows x 7 columns]

In [ ]:
coarse_data.shape

In [ ]:
columns=coarse_data.columns.tolist()

In [ ]:
print(columns)

In [ ]:
df=coarse_data[['FOD1P','SCHL','WAGP','AGEP','COW']]

In [ ]:
df

In [ ]:
df2=df.loc[df['FOD1P']=='NaN'].replace('NaN','Not_that_educated')

In [ ]:
df2.shape

In [ ]:
df2.head()

In [ ]:
df.to_csv("test.csv")