In [10]:
import pandas as pd
merged_df=pd.read_csv('US_Data.csv')

In [12]:
merged_df.head()

   Unnamed: 0  FOD1P  SCHL     WAGP
0           0    NaN  19.0      0.0
1           1    NaN  20.0  52000.0
2           2    NaN  16.0      0.0
3           3    NaN  19.0      0.0
4           4    NaN  19.0      0.0

In [18]:
merged_df.columns

Index(['Unnamed: 0', 'FOD1P', 'SCHL', 'WAGP'], dtype='object')

In [20]:
# drop the 'Unnamed: 0' column coming from god knows where.
merged_df.drop('Unnamed: 0',axis=1).head()

   FOD1P  SCHL     WAGP
0    NaN  19.0      0.0
1    NaN  20.0  52000.0
2    NaN  16.0      0.0
3    NaN  19.0      0.0
4    NaN  19.0      0.0

In [35]:
# picking our sample size as 'only' 1 million rows of data.
sample_df=merged_df.sample(n=1000000)

In [36]:
sample_df.shape

(1000000, 4)

In [ ]:
sample_df.to_csv("US_Sample.csv")